* {
    box-sizing: border-box;
}

body {
    font: 500 14px/24px 'Fira Sans', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #e5e5e5;
}

h2 {
    font: 900 45px/45px 'Frank Ruhl Libre', serif;
}
header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
}
header section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.span1 {
    font-weight: 700;
}
header section button {
    margin: 4rem 0 10rem;
}
.button {
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}
.text--white {
    color: white;
}

header section:nth-child(1) {
    padding: 4rem 8rem 0 7rem;
    grid-column: span 3;
    grid-row: span 2;
    background-color: #c7ddea;
    background-image: url("bilder/family.png");
    background-size: 60% 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
}
header section:nth-child(1) h2 {
    /* font-family: 'Frank Ruhl Libre', serif; */
    margin-bottom: 0;
    /* font-size: 2rem; */
}
header section:nth-child(1) h2,
header section:nth-child(1) p,
header section:nth-child(1) button {
    align-self: flex-start;
}
header section:nth-child(2) {
    grid-column: span 3;
    background-color: #f17949;
}
header section:nth-child(3) {
    grid-column: span 3;
    background-color: #ffb939;
}

header section:nth-child(2) p,
header section:nth-child(3) p {
    margin: 0;
}
header section:nth-child(2) h3,
header section:nth-child(3) h3 {
    margin: 1rem;
}
nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 4rem;
}
nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a:hover {
    background-color: #ccc;
}
nav a:nth-child(1) {
    grid-column: 2;
}
.current {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.content {
    grid-column: span 6;
    margin: 0;
}
.content2 {
    grid-column: span 6;
    margin: 0;
    padding: 5rem 10rem 4rem 4rem;
    display: flex;
    background-color: #a9a19e;
}
.content2 h1 {
    width: 50%;
    margin: 0;
}
.content2 form {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
.content2 button {
    align-self: flex-end;
}

.content2 form p {
    margin: 0;
}
.content2 #text1 {
    padding: .5rem;
    margin-bottom: 2rem;
}
.content2 #textarea1 {
    padding: 1rem;
    margin-bottom: 2rem;
}

.content3 {
    background: no-repeat 50%/5% url(bilder/needle.png),
                no-repeat url(bilder/map-contact.png);
    width: 100%;
    height: 20rem;
    grid-column: span 6;
}

.content3 section {
    height: 10rem;
    width: 30%;
    background-color: #fab131;
    color: white;
    padding: 1rem;
    margin: 2rem 3rem;
}

.main-top {
    display: flex;
    background-color: #a9a19e;
}
.main-top section {
    width: 50%;
    padding: 5rem;
}

.main-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(#a9a19e 50%, #fab131 50%);
    /* background-color: aqua; */
}
.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* padding: 1rem .8rem 0; */
    /* margin-top: -2rem; */
}
.card figure {
    width: 90%;
    height: 150px;
    margin-top: -1rem;
}
.card p {
    padding: 0 2rem 1.5rem;
    font-size: .7rem;
    text-align: center;
}
.main-cards .card:nth-child(1) figure {
    background-color: #c7ddea;
    background-image: url(bilder/child.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}
.main-cards .card:nth-child(2) figure {
    background-color: #fab131;
    background-image: url(bilder/adult.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}
.main-cards .card:nth-child(3) figure {
    background-color: #f17949;
    background-image: url(bilder/old.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 70%;
}
.box h2 {
    /* font-size: 2rem; */
}

.box {
    grid-column: span 2;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}
.box h3 {
    /* align-self: flex-start; */
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: rgba(0,0,0,.4);
    margin: 0;
}
.box p {
    padding: 5rem;
}
.box:nth-child(2) {
    background-color: #c7ddea;
}
.box:nth-child(4) {
    background-color: #ebebeb;
}
.box:nth-child(6) {
    background-color: #f17949;
}


.main-bottom {
    background-color: #fab131;
    padding: 2rem 12rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .bottom {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a9a19e;
}
main .bottom a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    height: 15rem;
    background-color: #777574;
}

.bg-white {
    background-color: white;
}

.header {
    background-color: #c7ddea;
    background-image: url(bilder/man-and-child.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -1rem right 8rem;
}
.header h1 {
    font-size: 2rem;
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    margin: 0;
}